body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

.App {
  text-align: center;
}

.Log:hover{
  background: white;
  color: blue;
}

.user-management-card {
  max-width: 1500px;
  margin: 2px auto;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: auto;
  overflow: hidden;
}

.filter-section {
  width: 20%;
  padding-right: 10px;
}

.main-section {
  width: 70%;
}

.user-management-card h2 {
  margin-bottom: 16px;
}

.user-management-card input,
.user-management-card select {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 150px;
}

.user-management-card button {
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.user-management-card button:hover {
  background-color: #1565c0;
}

.user-management-card button.delete {
  background-color: #f44336;
}

.user-management-card button.delete:hover {
  background-color: #d32f2f;
}

table {
  width: 800px;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

.error-alert {
  color: #f44336;
  margin-bottom: 16px;
}

.activity-log {
  max-width: 400px;
  width: 400px;
}

.role-management-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.role-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.role-input {
  flex-grow: 1;
  margin-right: 8px;
  padding-right: 10px;
}

.role-management-card button {
  margin-left: 20px;
}

.role-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 0;
}

.role-item-content {
  display: flex;
  align-items: center;
}

.delete-icon {
  margin-left: 8px;
}

.permissions-select {
  min-width: 250px;
}

.dialog-title {
  font-weight: bold;
}

.dialog-content {
  margin-bottom: 16px;
}

.switch-label {
  margin-left: 8px;
}

.search-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.search-button {
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 16px;
  margin-left: 8px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #303f9f;
}

.dialog-input,
.dialog-select {
  margin-bottom: 16px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.dialog-input:focus,
.dialog-select:focus {
  border-color: #3f51b5;
  outline: none;
}

.dialog-select {
  margin-top: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
}

.pagination button {
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #1565c0;
}

.pagination span {
  margin: 0 10px;
  font-weight: bold;
}

th:nth-child(1), td:nth-child(1) {
  width: 45px;
}

th:nth-child(2), td:nth-child(2) {
  width: 80px;
}

th:nth-child(3), td:nth-child(3) {
  width: 200px;
}

th:nth-child(4), td:nth-child(4) {
  width: 50px;
}

th:nth-child(5), td:nth-child(5) {
  width: 20px;
}

th:nth-child(6), td:nth-child(6) {
  width: 200px;
}

td.email {
  word-wrap: break-word;
  max-width: 200px;
}
.edit-user-dialog {
  margin: auto;
  max-width: 500px; /* Set a max width for the dialog */
  width: 100%; /* Ensure it takes full width up to the max */
}

.dialog-input,
.dialog-select {
  width: 100%; /* Make inputs and selects responsive */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

@media (max-width: 768px) {
  .user-management-card {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .filter-section, .main-section {
    width: 100%;
    padding: 10px;
  }

  .search-input {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .search-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }

  .activity-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
}

.common-button {
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.common-button:hover {
  background-color: #1565c0;
}
